@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --custom-bg-1: #fcfcfc;
    --custom-bg-2: #7978E9;
    --custom-bg-3: #4B49AC;
    --custom-bg-4: #AA77FF;
}

body{
  background: #f8f7fb !important;
}

.custom-bg-1 {
    background-color: var(--custom-bg-1) !important;
}

.custom-bg-2 {
    background-color: var(--custom-bg-2) !important;
}

.custom-bg-3 {
    background-color: var(--custom-bg-3) !important;
}

.custom-bg-4 {
    background-color: var(--custom-bg-4) !important;
}

.vector-bg {
    /* background: url('/src/assets/cutout.png'); */
    background-color: var(--custom-bg-4);
    filter: blur(5);
}

.custom-color-1 {
    color: var(--custom-bg-1);
}

.custom-color-2 {
    color: var(--custom-bg-2);
}

.custom-color-3 {
    color: var(--custom-bg-3);
}

.custom-color-4 {
    color: var(--custom-bg-4);
}

.letter-spacing {
    letter-spacing: 1.5px;
}

.body {
    background: url('/src/assets/cutout.png') no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
}

.glass-morphism {
    backdrop-filter: blur(2px) brightness(.8);
    background: rgba(244, 244, 244, 0.3);
}

.btn-check:checked+.btn{
    background-color: #4B49AC !important;
    color:#f8f7fb !important;
}

.html5-qrcode-anchor-scan-type-change{
    display: none !important;
}

/* New */
.home_img{
    background-image: url(./assets/home.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-size: cover;
    background-position-x: center;
}
.backdrop{
    backdrop-filter: blur(4px) brightness(0.8);
}