@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --custom-bg-1: #fcfcfc;
    --custom-bg-2: #7978E9;
    --custom-bg-3: #4B49AC;
    --custom-bg-4: #AA77FF;
}

body{
  background: #f8f7fb !important;
}

.custom-bg-1 {
    background-color: var(--custom-bg-1) !important;
}

.custom-bg-2 {
    background-color: var(--custom-bg-2) !important;
}

.custom-bg-3 {
    background-color: var(--custom-bg-3) !important;
}

.custom-bg-4 {
    background-color: var(--custom-bg-4) !important;
}

.vector-bg {
    /* background: url('/src/assets/cutout.png'); */
    background-color: var(--custom-bg-4);
    filter: blur(5);
}

.custom-color-1 {
    color: var(--custom-bg-1);
}

.custom-color-2 {
    color: var(--custom-bg-2);
}

.custom-color-3 {
    color: var(--custom-bg-3);
}

.custom-color-4 {
    color: var(--custom-bg-4);
}

.letter-spacing {
    letter-spacing: 1.5px;
}

.bg-custom {
    background: linear-gradient(270deg, #00a7d5, #00ded8);
}

.text-custom {
    color: linear-gradient(270deg, #00a7d5, #00ded8);
}

.nav-link.active {
    transform: translateY(-20px);
    height: 50px;
    width: 50px !important;
    box-shadow: 0px 0px 5px lightgray;
    background-color: white !important;
    color: #0d6efd !important;
    transition: all 2s cubic-bezier(0.4, 0, 1, 1);
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.body {
    background: url('/src/assets/cutout.png');
    background-color: var(--custom-bg-1);
}

.glass-morphism {
    backdrop-filter: blur(5px);
    background: rgba(244, 244, 244, 0.3);
}

.line::after,
.line::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px;
    background: lightgrey;
    top: 50%;
}

.line::after {
    left: 10%;
    border-radius: 50% 1% 1% 50%;
}

.line::before {
    right: 10%;
    border-radius: 1% 50% 50% 1%;
}

.rounded-container {
    border-radius: 40px 40px 0 0;
    z-index: 1;
}

.img-2-1 {
    aspect-ratio: 1.8;
    object-fit: contain;
    object-position: center;
}